body {
    background-color: black !important;
    color: #4AF626 !important;
    font-family: 'Ubuntu Mono', monospace !important;
}

/* Navbar Section */
.typing-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor {
  animation: blink .6s linear infinite;
}

/* Form Section */
.provider-section {
    display: none;
}

#ticker {
    border:none;
    background: black;
    color: #4AF626;
    content: ' _';
    animation: animate 0.7s linear infinite;
    caret-color: transparent;
    outline:none;
    margin-top: 10px;
    margin-bottom: 10px
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

#stock-form-submit {
    background: none;
    color: #4AF626;
    border: 0.3px solid grey;
    margin-top: 20px
}
#stock-form-submit:hover { border: 0.3px solid #4AF626; }

select {
    background-color:black;
    color: #4AF626;
    border: 0.3px solid grey;
}

/* History Section */

#trash-outline { color: #4AF626 }

table {
    color: #4AF626 !important;
    border: 1px dashed white;
    margin-bottom: 100px;
    page-break-after:always
}

table tr td { border: none; border-right: 1px dashed white; page-break-inside:avoid; page-break-after:auto }
table tr th { border-bottom: 1px dashed white; border-right: 1px dashed white }
table tr {page-break-inside:avoid; page-break-after:auto}
thead {display:table-header-group}
/* Footer Section */

footer {
    margin-top: auto;
    color: grey;
    font-size: 12px;
    text-align: center
}